@font-face {
  font-family: Oswald;
  src: url('oswald.ttf');
}

body{
	margin: auto;
	font-family: Oswald;
	background-color: #ADE28A;
	justify-content: center;
	color: white;
	text-shadow:
        0.04em 0 black,
        0 0.04em black,
        -0.04em 0 black,
        0 -0.04em black;
     text-align: center;
}

p {
	font-size: 25px;

}

img {
	border-radius: 25% 10%;
	display: block;
 	margin-left: auto;
	margin-right: auto;
}

.center {
  margin: auto;
  width: 50%;
}

.navbar ul {
	list-style: none;
	background: #407056;
	padding: 0;
	margin: 0;
}

.navbar li {
	display: inline-block;
}

.navbar a{
	text-decoration: none;
	color: #fff;
	width: 100px;
	display: block;
	padding: 25px 20px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar a:hover {
	background: #EDFA8B;
}